{% schema %}
    {
      "name": "Hero",
      "settings": [
        {
          "type": "image_picker",
          "id": "background",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "CREATE YOUR OWN WINTER LOOK"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "CHOOSE ONE PRODUCT IN EACH SECTION AND GET 20% ON THE WHOLE BUNDLE"
        }
      ]
    }
    {% endschema %}
    
    <div class="hero-section">
      <div class="hero-content">
        <div class="checkout-header"> 
          <div class="header-content">
             <img
              width="100"
              height="56"
              src="{{ 'bear-icon.svg' | asset_url }}"
              alt="Bear Icon"
            />
            <div class="checkout-info">
              <span class="selected-text">0 OF 3 PRODUCTS SELECTED</span>
              <button class="checkout-button" disabled>CHECKOUT</button>
            </div>
           </div>
          </div>

        <h1>{{ section.settings.title }}</h1>
          <p class="subtitle">{{ section.settings.subtitle }}</p>
        <button class="start-btn">START</button>
      </div>
    </div>